body {
    background: #ffffff !important;
}

h2.title {
    margin-bottom: 0;
}

.node_counter_block > div {
    display: flex;
}

.node_counter_block__label {
    margin-right: 6px;
}

.node_counter_block__last_viewed {
    border-bottom: 2px solid #333;
    width: fit-content;
    width: max-content;
}